@charset "utf-8";
/* CSS Document */


body { position: relative; overflow-x: hidden; font-family: 'Open Sans', sans-serif;}
body, html { height: 100%;}
.nav > li > a > img{max-width:100%;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper { padding-left: 0; -webkit-transition: all 0.5s ease;  -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; position:relative; min-height:100%;}
#wrapper.toggled { padding-left: 220px;}
#sidebar-wrapper { z-index: 1000;left: 220px; width: 0; height: 100%; margin-left: -221px; overflow-y: auto;overflow-x: hidden; background:#f9f9f9;  -webkit-transition: all 0.5s ease;   -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; border-right:1px solid #e0e0e0;}
#sidebar-wrapper::-webkit-scrollbar {display: none;}
#wrapper.toggled #sidebar-wrapper {  width: 220px;}
#page-content-wrapper {  width:100%; }
#wrapper.toggled #page-content-wrapper {  position: absolute; margin-right: -220px;}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {top: 0; width: 221px; margin: 0; padding: 0;list-style: none;}
.sidebar-nav li { position: relative; line-height: 20px; display: inline-block; width: 100%; border-bottom:1px solid #e0e0e0;}
.sidebar-nav > .sidebar-brand {padding:10px 0;}
.sidebar-nav .dropdown-menu { position: relative;  width: 100%; padding: 0;margin: 0; border-radius: 0; border: none; background-color: #222; box-shadow: none;}
.nav li a:focus, .nav li a:hover{background-color:transparent;}
.nav > li > a{color:#666; font-weight:500; text-transform:uppercase;}
.nav.sidebar-nav.menu a{ font-weight:bold;}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {position:absolute; top:16px; z-index: 999;display: block; width:24px; height:24px; margin-left: 15px; background: transparent; border: none;}
.hamburger:hover, .hamburger:focus, .hamburger:active { outline:none;}
.hamburger.is-closed:before { content: ''; display: block; width: 100px; font-size: 14px; color: #fff; line-height: 32px;
  text-align: center;  opacity: 0; -webkit-transform: translate3d(0,0,0); -webkit-transition: all .35s ease-in-out;}
.hamburger.is-closed:hover:before { opacity: 1; display: block; -webkit-transform: translate3d(-100px,0,0);  -webkit-transition: all .35s ease-in-out;}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {  position: absolute;  left: 0;  height:2px;  width: 100%;}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {  background-color: #b2b2b2;}
.hamburger.is-closed .hamb-top { top: 5px; -webkit-transition: all .35s ease-in-out;}
.hamburger.is-closed .hamb-middle { top:45%;}
.hamburger.is-closed .hamb-bottom { bottom: 5px; -webkit-transition: all .35s ease-in-out;}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {background-color: #b2b2b2;}
.hamburger.is-open .hamb-top{ top: 5px;  -webkit-transition: all .35s ease-in-out;}
.hamburger.is-open .hamb-middle { top:45%;}
.hamburger.is-open .hamb-bottom {  bottom: 5px;  -webkit-transition: all .35s ease-in-out;}
.hamburger.is-open:before { content: ''; display: block; width: 100px; font-size: 14px; color: #fff; line-height: 32px; text-align: center;
  opacity: 0; -webkit-transform: translate3d(0,0,0);  -webkit-transition: all .35s ease-in-out;}
.hamburger.is-open:hover:before { opacity: 1; display: block; -webkit-transform: translate3d(-100px,0,0); -webkit-transition: all .35s ease-in-out;}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay { position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0;background-color: rgba(250,250,250,.8); z-index: 1;}



/*************************navigation**************/
.navigation{padding:20px 0 14px; display:inline-block; width:100%;}
.navigation ul{margin:0; padding:0;}
li.logo{padding:0 !important;}
.navigation ul li{display:inline-block; padding:0 10px 0 30px; vertical-align: middle;}
.navigation ul li a{color:#9a9a9a; text-decoration:none;}
.nav_bg{background:rgb(66, 139, 202); margin:0px 0 0; padding:12px 0; z-index:99;}
.nav_bg ul li {padding:0 30px 0 0;}
.nav_bg ul li a{color:#fff; text-decoration:none;}
.affix {top:0px;width:100%;  -webkit-transition: all 0.5s ease;  -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}

.circle img{border: 2px solid #7d7d7d; border-radius: 50%; height: 30px; object-fit: cover;  width: 30px;}
ul.right_sidebar li{padding:0 10px 0 0;}
.right_sidebar li .fa { font-size: 20px;}
#sidebar-wrapper, .hamburger, .sidebar-brand{display:none;}
.sidebar-brand { float: right; margin:18px 15px 18px 0; position: relative;}
.dropdown-menu { padding: 10px !important; right: 0; margin-top:24px; border-radius:0; width:250px; left:auto;}
.dropdown-menu li{width:100%; padding:10px 0 !important; vertical-align: middle;}
.dropdown-menu li:first-child{border-bottom:1px solid #ccc;}
.dropdown-menu .fa{margin-right: 10px; position: relative; top: 2px;}
.dropdown-menu span{color:#109bff;}
.dropdown-menu::before { border-color:transparent transparent #e0e0e0; border-style: solid; border-width: 16px; content: ""; position:absolute; right: 15px; top: -32px;}
.divider { background-color: #e5e5e5;  height: 1px; margin: 9px 0;  overflow: hidden;}

.content-area{background:#f9f9f9; height:100%; width:100%; padding:30px 0 30px; }

footer{background: #494949 none repeat scroll 0 0; padding:30px 0 15px; width: 100%;}
footer ul{ margin:0; padding:0;}
footer ul li{display:inline; text-align:center;}
footer ul li a{color:#fff; font-size:24px; padding:10px 10px;}
footer ul li a:hover, footer ul li a:focus{color:#ccc;}
footer p{color:#fff; font-size:14px; margin-top:20px;}











/****** LOGIN MODAL ******/
.loginmodal-container {padding: 30px; max-width: 350px; width: 100% !important; background-color: #F7F7F7; margin:160px auto 40px; border-radius: 2px; box-shadow:0 0 2px rgba(0, 0, 0, 0.3); overflow: hidden; }
.loginmodal-container h1 { text-align: center; font-size: 1.8em; font-family: roboto;}
.loginmodal-container input[type=submit] { width: 100%; display: block; margin-bottom: 10px; position: relative;}
.loginmodal-container input[type=text], input[type=password] { height: 44px; font-size: 16px; width: 100%; margin-bottom: 10px; -webkit-appearance: none;
  background: #fff; border: 1px solid #d9d9d9; border-top: 1px solid #c0c0c0; /* border-radius: 2px; */ padding: 0 8px; box-sizing: border-box;  -moz-box-sizing: border-box;}
.loginmodal-container input[type=text]:hover, input[type=password]:hover { border: 1px solid #b9b9b9; border-top: 1px solid #a0a0a0; -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);}
.loginmodal { text-align: center; font-size: 14px; font-family: 'Arial', sans-serif; font-weight: 700; height: 36px; padding: 0 8px;/* border-radius: 3px; */
/* -webkit-user-select: none;  user-select: none; */}
.loginmodal-submit {  /* border: 1px solid #3079ed; */  border: 0px;  color: #fff; text-shadow: 0 1px rgba(0,0,0,0.1);  background-color: #4d90fe; padding: 17px 0px; font-family: roboto; font-size: 14px; /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */}
.loginmodal-submit:hover { /* border: 1px solid #2f5bb7; */ border: 0px; text-shadow: 0 1px rgba(0,0,0,0.3); background-color: #357ae8; /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */}
.loginmodal-container a { text-decoration: none; color: #666; font-weight: 400; text-align: center; display: inline-block; opacity: 0.6; transition: opacity ease 0.5s;} 
.login-help{ font-size: 12px;}

/**********Form main*********/

.form-main h2{ font-size: 24px; color: rgb(66, 139, 202); text-transform: uppercase;margin-bottom:20px; text-align: center;}
.form-main label {text-align: left !important;margin-bottom:10px !important;color: #333;font-size: 13px;}
form.form-horizontal.ng-pristine.ng-valid {margin-bottom: 130px !important;background: #f7f7f7;padding: 8px 20px;
box-shadow: 0px 0px 1px #ccc;border-radius: 4px;}
form.form-horizontal.form-main .form-group{ margin-left: 0;margin-right: 0;}





@media(max-width:767px){
.desktop{display:none;}
#sidebar-wrapper, .hamburger, .sidebar-brand{display:block;}
.header-mobile { background:#f9f9f9 none repeat scroll 0 0; z-index: 99; position: fixed;  width: 100%;  box-shadow: 0 0 8px #ccc;}

.content-area{padding:50px 0;}
}


/**********23/1/2016  messages of client*********/
.margin50{margin-top:50px;}
.margin20{margin-top:20px;}
.side_menu{background:#f7f7f7; border:1px solid #eee; padding:10px;}
.nav.nav-pills.nav-stacked.side_menu a{border-radius:0;}
.nav.nav-pills.nav-stacked.side_menu > li {  border-bottom: 1px solid #eee;}
.navbar-static-top {margin-bottom:20px;}
.nav-pills > li a:hover{ color: #ffffff; background-color: #428bca;}


.task_detail h1 {border-bottom: 1px solid #ddd; display: inline-block; margin:-20px 0 20px 0;  padding:0 0 0.414em;  width: 100%; }
.task_detail h1 span{border-bottom: 1px solid #007ed3;bottom:0px; font-size: 18px;  padding-bottom: 0.914em;  position: relative;  text-transform: uppercase;}
.search-bar{position:relative; margin-bottom:15px;}
.search-bar .glyphicon {left: auto; position: absolute; right: 12px; top: 10px;}

/*/ Tabs panel /*/
.tabbable-panel {border:1px solid #eee; padding: 10px; display:inline-block; width:100%;}

/*/ Default mode /*/
.tabbable-line > .nav-tabs {border: none; margin: 0px;}
.tabbable-line > .nav-tabs > li {margin-right: 2px;}
.tabbable-line > .nav-tabs > li > a {  border: 0;  margin-right: 0; color: #737373;}
.tabbable-line > .nav-tabs > li > a > i {color: #a6a6a6;}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover { border-bottom: 4px solid #a7d1ea;}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a { border: 0; background: none !important; color: #333333;}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {color: #a6a6a6;}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {margin-top: 0px;}
.tabbable-line > .nav-tabs > li.active {border-bottom: 4px solid #007ed3 ; position: relative;}
.tabbable-line > .nav-tabs > li.active > a {border: 0; color: #333333;}
.tabbable-line > .nav-tabs > li.active > a > i { color: #404040;}
.tabbable-line > .tab-content { margin-top: -3px; background-color: #fff; border: 0; border-top: 1px solid #eee; padding: 15px 0;}
.portlet .tabbable-line > .tab-content { padding-bottom: 0;}

/*/ Below tabs mode /*/
.tabbable-line.tabs-below > .nav-tabs > li { border-top: 4px solid transparent;}
.tabbable-line.tabs-below > .nav-tabs > li > a { margin-top: 0;}
.tabbable-line.tabs-below > .nav-tabs > li:hover { border-bottom: 0; border-top: 4px solid #fbcdcf;}
.tabbable-line.tabs-below > .nav-tabs > li.active {margin-bottom: -2px; border-bottom: 0; border-top: 4px solid #f3565d;}
.tabbable-line.tabs-below > .tab-content { margin-top: -10px; border-top: 0; border-bottom: 1px solid #eee; padding-bottom: 15px;}
.tab-pane textarea {height:120px;}


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


/*======================================
Chat System Started
======================================= */


.transparent_bg {
  /*background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;*/
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -9;
}
.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.top_20
{
	margin-top:20px;
}
.logo img
{
	width:40%;
}









/*======================================
    CHAT BOX STYLES
======================================= */
/*.pad-top {
    padding-top:30px;
}*/
.pad-bottom {
     padding-bottom:30px;
}




.hr-clas {
    border-top: 1px solid #505050;
}

.chat-box-main {
    max-height:500px;
    overflow:auto;
}
.chat-box-div {
    border:2px solid #505050;
    border-bottom:2px solid #A12EB3;
} 
.chat-box-head {
  background-color: #505050;
  border-bottom: 2px solid #505050;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
}

.chat-box-left {
    width: 77%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size:12px;
	float:left;
}
/*.chat-box-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}*/

.chat-box-left::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent transparent #c5c5c5;
  border-image: none;
  border-style: solid;
  border-width: 15px;
  content: " ";
  left: auto;
  position: absolute;
  right: -31px;
  top: 29%;
}

/*.chat-box-name-left {
    /*margin-top: 30px;
    margin-left: 60px;*/
/*	width:20%;
    text-align:left;
    color:#049E64;
}
*/


.chat-box-name-left {
  /*background-color: red;*/
  color: #049e64;
  display: inline-block;
  float: left;
  text-align: left;
  width: 20%;
  margin-left:15px;
  margin-top:15px;
}
    .chat-box-name-left img {
        max-width:40px;
        border: 2px solid #049E64;
    }

    .chat-box-right {
    width: 77%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size:12px;
	float:right;
}
.chat-box-right:after {
    top: 29%;
   /* right: 10%;*/
   border-color:transparent  #c5c5c5 transparent transparent !important;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
	left:-30px;
    border-width: 15px;
   /* margin-left: -15px;*/
}

.chat-box-name-right {
    color: #354EA0;
   /* margin-top: 30px;
    margin-right: 60px;*/
    text-align:right;
	width:20%;
	float:left;
}

.chat-box-name-right img {
        max-width:40px;
        border: 2px solid #354EA0;
    }
.chat-box-footer {
    background-color: #D8D8D8;
padding: 10px;
}
/*======================================
    CHAT BOX ONLINE STYLES
======================================= */


.hr-clas-low {
  border-top: 1px solid #c5c5c5;
  margin: 5px 0;
}

.chat-box-online {
     max-height:554px;
    overflow:auto;
}
.chat-box-online-div {
    border:2px solid #505050;
    border-bottom:2px solid #505050;
} 

.chat-box-online-head {
    padding: 10px 15px;
border-bottom: 2px solid #5050550;
background-color: #505050;
color: #fff;
text-align: center;

}

.chat-box-online-left {
    margin-left: 00px;
    text-align:left;
    color:#049E64;
}
    .chat-box-online-left img {
        max-width:30px;
        border:1px solid #049E64;
        margin-bottom:10px;
		margin-top:10px;
    }
    .chat-box-online-right {
    margin-right: 0px;
   text-align:left;
    color:#354EA0;
}
.chat-box-online-right a
{
	color:#049e64;
	font-size:14px;
}

.chat-box-online-right a:hover
{
	color:#027449;
	text-decoration:none;
}
.chat-box-online-left a
{
	color:#0f4b98;
}
.chat-box-online-left a:hover
{
	color:#002b62;
	text-decoration:none;
}




    .chat-box-online-right img {
       max-width:30px;
        border:1px solid #354EA0;
        margin-bottom:10px;
		margin-top:10px;
        
    }

    /*======================================
  NEW  CHAT  STYLES
======================================= */

.chat-box-new {
     max-height:554px;
    overflow:auto;
}
.chat-box-new-div {
    border:2px solid #ff6a00;
    border-bottom:2px solid #ff6a00;
} 

.chat-box-new-head {
    padding: 10px 15px;
border-bottom: 2px solid #ff6a00;
background-color: #ff6a00;
color: #fff;
text-align: center;

}
.clear
{
	clear:both;
}
.online_one_right_img
{
	margin:0px;
	padding:0px;
	/*background-color:#ddd;*/
	width:100%;
}
.online_one_left_img
{
	margin:0px;
	padding:0px;
	width:100%;
}
.padding_none .btn {
  padding: 0px 3px 2px 5px !important;
}