@model MeterAppUI.ViewModels.ClientViewModel
<!DOCTYPE html>
<html lang="en" data-ng-app="MeterApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">*@

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,800italic,800,700italic,700,600italic' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
@if (Model != null)
{
    <body ng-controller="clientMessagesController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.ClientsProject))">

        <!-- Main -->
        <div class="container">
            <div class="row">
                <div class="development-msg margin50">
                    <div class="col-md-3 col-sm-3 col-xs-12" ng-show="projectList">
                        <!-- Left -->
                        <ul class="nav nav-pills nav-stacked side_menu" ng-model="projectlistinul">
                            <li class="search-bar"><input class="form-control" ng-model="projectListSearch" type="text" value="Search Project" /> <span class="glyphicon glyphicon-search"></span></li>
                            <li ng-repeat="x in projectList | filter:projectListSearch" ng-model="projectList.ClientId" ng-class="{active: $index == 0}"><a ng-click="taskToDeveloper(x)" data-toggle="tab">{{x.ProjectName}}</a></li>
                        </ul>
                    </div><!-- /span-3 -->
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12" ng-show="developerList">
                    <div class="task_detail">
                        <!-- Right -->
                        <h1><span>Task Detail</span></h1>
                        <div class="clearfix"></div>
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs" ng-model="developerListInUl">
                                    <li ng-repeat="developer in DevelopersList" value="{{developer.UserId}}" ng-class="{active: $index == 0}"><a ng-click="SelectedDeveloper(developer)" data-toggle="tab">{{developer.FirstName}} </a></li>
                                </ul>
                                <form class="require-validation margin20" id="payment-form">
                                    <div ng-show="moduleslist" class="tab-content">
                                        <div class="chat-box-div">
                                            <div class="chat-box-head">
                                                Chat
                                                <div class="btn-group pull-right padding_none">
                                                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button"> <span class="fa fa-cog"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                                                    <ul role="menu" class="dropdown-menu">
                                                        <li><a href="#"><span class="fa fa-map-marker"></span>&nbsp;Invisible</a></li>
                                                        <li><a href="#"><span class="fa fa-comments-o"></span>&nbsp;Online</a></li>
                                                        <li><a href="#"><span class="fa fa-lock"></span>&nbsp;Busy</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><span class="fa fa-circle-o-notch"></span>&nbsp;Logout</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel-body chat-box-main" ng-repeat="data in messageList">

                                                <!--start--online_one_right_img-->
                                                <div class="online_one_right_img" ng-if="data.SenderId=='0a6a5ac9-4322-4690-8ca0-3cde158e39e9' && data.MessageType=='text'">
                                                    <div class=" chat-box-left">
                                                        {{data.Message}}
                                                    </div>
                                                    <div class="chat-box-name-right"> <img class=" img-circle" alt="bootstrap Chat box user image" src="~/Images/user.gif"> -  Justine Goliyad </div>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="online_one_right_img" ng-if="data.MessageType!='text'">
                                                    <div class=" chat-box-left">
                                                        @{
                                                            var url = Url.Action("DownloadFile", "Client", new { @fileName = "{{fileName = data.MessageType}}" });
                                                             url = HttpUtility.UrlDecode(url);
                                                        }
                                                        <a data-ng-href="@url">Download</a>
                                                        <img src="~/Images/excel.png"  />
                                                        @*@Html.ActionLink("Download", "DownloadFile", new { fileName =  });*@
                                                    </div>
                                                    <div class="chat-box-name-right"> <img class=" img-circle" alt="bootstrap Chat box user image" src="~/Images/user.gif"> -  Justine Goliyad </div>
                                                    <div class="clear"></div>
                                                </div>
                                                <!--end---online_one_right_img-->
                                                <!--start--online_one_left_img-->
                                                @*<div class="online_one_left_img">
                                                        <div class=" chat-box-right">
                                                        </div>
                                                        <div class="chat-box-name-right"> <img class="img-circle" alt="bootstrap Chat box user image" src="~/Images/user.gif"> - Romin Royeelin </div>
                                                        <div class="clear"></div>
                                                    </div>*@
                                                <!--end---online_one_left_img-->
                                            </div>
                                            <div class="chat-box-footer">
                                                <div class="input-group">
                                                    <input type="text" ng-model="textArea" placeholder="Enter Text Here..." class="form-control">
                                                    <span class="input-group-btn">
                                                        <button type="button" ng-click="uploadFile()" class="btn btn-info">SEND →</button>
                                                    </span>
                                                </div>
                                              
                                                <div>
                                                    @*<input type="button" ng-click="ShowMessages()" value="download" />*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class='form-row col-md-4'>
                                            <input type="file" file-model="fileupload" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--/task_detail->
                    </div><!--/col-span-9-->
                </div>
            </div>
        </div>

        <!-- /Main -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>*@
    </body>
}
</html>

@*<script src="~/Scripts/FileAPI.js"></script>
    <script src="~/Scripts/ng-file-upload-all.min.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>*@
<script src="~/Scripts/App/directives/fileModel.js"></script>
<script src="~/Scripts/App/services/clientsServices.js"></script>
<script src="~/Scripts/App/controllers/clientMessagesController.js"></script>